<section>
    <h2>Create New Post</h2><br>

  <form class="new-post-form card">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="form-label" for="post-text">Text</label>
      <input class="form-input" type="text" id="post-text" name="post-text" />
    </div>
    <div>
        <label class="form-label" for="upload-image">Image</label>
        <input class="btn upload-btn" type="file" name="upload-image" id="post-image" />
    </div>
    <br>
    <button type="submit" class="btn">Create</button>
  </form>
</section><br>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2><br>
  <ul>
    {{#each posts as |post|}}
    <li>

    {{> post-info post}}

      <h3>
      <a class="btn edit-btn" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </h3>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/new-post.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

