<section> 
    <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="form-label" for="post-text">Text</label>
      <input class="form-input" type="text" id="post-text" name="post-text" />
    </div>
    <div>
        <label class="form-label" for="upload-image">Image</label>
        <input type="file" name="upload-image" id="post-image" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>

    {{> post-info post}}

      <h3>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </h3>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/new-post.js"></script>




{{!-- TEST UPLOAD FORM
     <form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="uplaod-image" multiple="multiple" /><br/>
    <input type="submit" value="Upload" />
    </form>
</div> --}}