<article>
  <h2>
    Edit Post
  </h2><br>
  <form class="edit-post-form card">
    <br />
    <div>
      <h3>Post Title</h3>
      <input
        class="form-input"
        name="post-title"
        type="text"
        value="{{post.title}}"
      />
      <br>
      <h3>Post Body</h3>
      <input
        class="form-input"
        name="post-text"
        type="text"
        value="{{post.post_text}}"
      />
    </div>
    <div><br>
      Created on
      {{format_date post.created_at}}
    </div><br>
    <button class="btn" type="submit">Update post</button><br>
    <button type="button" class="delete-btn btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>