<form class="login-form card">
  <div>
    <label class="form-label" for="username-input-login">Username:</label>
    <input class="form-input" type="text" id="username-input-login" />
  </div>
  <div>
    <label class="form-label" for="password-input-login">Password:</label>
    <input class="form-input" type="password" id="password-input-login" />
  </div>
  <div>
    <button class="btn" type="submit">Login</button>
  </div>
</form>


<form class="signup-form card">
  <div>
    <label class="form-label" for="username-input-signup">Username:</label>
    <input class="form-input" type="text" id="username-input-signup" />
  </div>
  <div>
    <label class="form-label" for="password-input-signup">Password:</label>
    <input class="form-input" type="password" id="password-input-signup" />
  </div>
  <div>
    <button class="btn" type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>