<form class="login-form card">
  <div>
    <label class="form-label" for="email-login">Email:</label>
    <input class="form-label" type="text" id="email-login" />
  </div><br>
  <div>
    <label class="form-label" for="password-login">Password:</label>
    <input class="form-label" type="password" id="password-login" />
  </div>
  <div><br>
    <button class="btn" type="submit">login</button>
  </div>
</form>


<script src="/javascript/login.js"></script>
