<form class="login-form">
  <div>
    <label class="form-label" for="email-input-login">Email:</label>
    <input class="form-input" type="text" id="email-input-login" />
  </div>
  <div>
    <label class="form-label" for="password-input-login">Password:</label>
    <input class="form-input" type="password" id="password-input-login" />
  </div>
  <div>
    <button class="btn" type="submit">Login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>