<form class="signup-form">
  <div>
    <label class="form-label" for="email-input-signup">Email:</label>
    <input class="form-input" type="text" id="email-input-signup" />
  </div>
  <div>
    <label class="form-label" for="username-input-signup">Username:</label>
    <input class="form-input" type="text" id="username-input-signup" />
  </div>
  <div>
    <label class="form-label" for="password-input-signup">Password:</label>
    <input class="form-input" type="password" id="password-input-signup" />
  </div>
  <div>
    <button class="btn" type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>